<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.Category">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="site_name" property="siteName" />
        <result column="url" property="url" />
        <result column="can_show" property="canShow" />
        <result column="cover" property="cover" />
        <result column="deleted_at" property="deletedAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, fid, name, sort, site_name, url, can_show, cover, deleted_at, created_at, updated_at
    </sql>

</mapper>
