<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.CommonMapper">
    <sql id="globalWhere">
            And ${tableName}.deleted_at = 0
        <if test="created_at_start !=null">
            and ${tableName}.created_at  &gt;=  #{created_at_start}
        </if>
        <if test="created_at_end !=null">
            and ${tableName}.created_at &lt; #{created_at_end}
        </if>
    </sql>
    <sql id="globalOrderBy">
        <choose>
            <when test="orderByField !=null">
                ORDER BY ${tableName}.${orderByField} ${orderByValue}
            </when>
            <otherwise>
                ORDER BY ${tableName}.id DESC
            </otherwise>
        </choose>
    </sql>
</mapper>
